h1 {
  color: green;
  font: Helvetica;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.back {
  background-image:
    url("https://resources.finalsite.net/images/f_auto,q_auto,t_image_size_2/v1538708065/sas/kpdz0kiake9a4tyugldq/2018-CWW-Middle-School-5.png");
 }
